[exasol_nodes]
%{~ for idx, ip in public_ips }
n${idx + 11} ansible_host=${ip} ansible_user=exasol private_ip=${private_ips[idx]} data_volume_ids='${jsonencode(node_volumes[idx])}' cloud_provider=${cloud_provider}
%{~ endfor }

[exasol_nodes:vars]
ansible_user=exasol
ansible_ssh_private_key_file=${ssh_key}
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
